<div class="page-wrapper">
    <div class="container-fluid">
        <!-- <div id='treeparent'>
  <ejs-treeview id='treeElement' 
    #treevalidate 
    [fields]='field' 
    [showCheckBox]='showCheckBox' 
    (nodeClicked)='nodeCheck($event)'
    (nodeChecked)='nodeChecked($event)'
    (nodeChecking)='nodeChecking($event)'
    (nodeSelected)='nodeSelected($event)'  
    [selectedNodes]='selectedNodes'
    (keyPress)='nodeCheck($event)'>
  </ejs-treeview>
</div> -->



        <div id='treeparent'>
            <ejs-treeview id='treeElement' #treevalidate [fields]='field' [showCheckBox]='showCheckBox'
                (nodeClicked)='nodeCheck($event)' (nodeChecked)='nodeChecked($event)'
                (nodeSelected)='nodeSelected($event)' [selectedNodes]='selectedNodes' (keyPress)='nodeCheck($event)'>
            </ejs-treeview>
        </div>

        <br>
        <!-- <div id='treeparent'>
    <ejs-treeview id='treeElement' #treevalidate [fields]='field' (created)='onCreate($event)' [loadOnDemand]=false>   
    </ejs-treeview>
  </div>
    <input type="text" class="e-input" id="Nodes" style="margin-left: 10px;margin-top:10px; width: 175px;" placeholder="Enter the parent ID( Ex: AS)" />
    <input type="button" class="btn btn-primary" value="Submit" id="btn" /> -->
    </div>
</div>