.section-header .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: #ffbf0a;
    background: linear-gradient(0deg, #ffbf0a 0%, #ffbf0a 100%);
    margin-left: 20px;
    margin-bottom: 20px;
}

.tableshadow{
    box-shadow: 5px 5px 5px #aaaaaa;
}
