    <div>
    <div class="container w-xxl w-auto-xs" *ngIf="showSingUp">
        <div class="m-b-lg">
            <form class="form-validation" [formGroup]="registerForm">
                <div class="text-danger wrapper text-center animated rotateIn">
                    <img src="assets\logo.png" style="height: 150px;width:150px">
                </div>
                <div>
                    <div class="list-group list-group-sm">

                        <div class="input-group mb-3 card-hover">
                        <div class="input-group-prepend animated bounceInLeft">
                            <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="fas fa-user-tie"></i></span>
                        </div>
                        <input type="text" placeholder="First Name" formControlName="firstName" class="form-control animated bounceInLeft" aria-label="Username" aria-describedby="basic-addon1" required="">
                        </div>


                        <div class="input-group mb-3 card-hover">
                        <div class="input-group-prepend animated bounceInRight">
                        <span class="input-group-text bg-primary text-white" id="basic-addon1"><i class="fas fa-user-tie"></i></span>
                        </div>
                        <input type="text" placeholder="last Name" formControlName="LastName" class="form-control animated bounceInRight" aria-label="Username" aria-describedby="basic-addon1" required="">
                        </div>

                        <div class="input-group mb-3 card-hover">
                        <div class="input-group-prepend animated bounceInLeft">
                        <span class="input-group-text bg-info text-white" id="basic-addon1"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        <input type="email" placeholder="Email" formControlName="email" class="form-control animated bounceInLeft" aria-label="Username" aria-describedby="basic-addon1" required="">
                        </div>

                        <div class="input-group mb-3 card-hover">
                        <div class="input-group-prepend animated bounceInRight">
                        <span class="input-group-text bg-secondary text-white" id="basic-addon1"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" placeholder="Password" id="password" formControlName="password" class="form-control animated bounceInRight" aria-label="Username" aria-describedby="basic-addon1" required="">
                        </div>  
                                        
                        <div class="input-group mb-3 card-hover">
                        <div class="input-group-prepend animated bounceInLeft">
                        <span class="input-group-text bg-dark text-white" id="basic-addon1"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control animated bounceInLeft" aria-label="Username" aria-describedby="basic-addon1" required="">
                        </div>  

                        <div class="input-group mb-3 card-hover">
                        <div class="input-group-prepend animated bounceInRight">
                        <span class="input-group-text bg-cyan text-white" id="basic-addon1"><i class="fab fa-critical-role"></i></span>
                        </div>
                        <select name="role" class="form-control no-border animated bounceInRight">
                        <option value="">Select Role</option>
                        <option value="assembler">Assembler</option>
                        </select>
                        </div>  
        
                    </div>
                </div>
            </form>
        </div>
          
            <p style="font-size: 13px">By creating an account, you agree to our Terms of use.</p>
            <button type="submit" (click)="showSignIp()" class="btn btn-primary btn-block animated zoomInDown">Sign up
            </button>
            

            <div class="line line-dashed"></div>
            <p class="text-center">
                <small>Already have an account?</small>
            </p>
            <a class="btn btn-success btn-block animated slideInDown" (click)="showSignIp()">Sign in</a>
            <p class="text-center">
                <small class="text-muted ng-binding">Bulbul Studio  © 2018</small>
            </p>
    </div>


    <div class="container animated zoomIn w-xxl w-auto-xs mt-3">
        <div class="m-b-lg ">
            <br/>
            <form  class="form-validation" [formGroup]="loginForm" (ngSubmit)="login()" method="post" *ngIf="showSignIn">
                <div class="text-danger wrapper text-center">
                    <img class="animated bounceInDown" src="assets\logo.png" style="height: 150px;width:150px">
                </div>
                <div class="list-group list-group-sm">
                        <div class="row p-b-30">
                                <div class="col-12">
                                    <div class="input-group mb-3 card-hover">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="email" class="form-control" formControlName="email" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required="">
                                    </div>
                                    <div class="input-group mb-3 card-hover">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-info text-white" id="basic-addon2"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" formControlName="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required="">
                                    </div>
                                    <div class="text-center card-hover text-dark float-right" [routerLink]="['/login/forgotpassword']"><a><small class="small" style="font-family: sans-serif;font-size:15px">Forgot password?</small></a></div>
                                </div>
                            </div>
                    <!-- <div class="list-group-item">
                        <input type="email" formControlName="email" placeholder="Email" class="form-control no-border">
                    
                    </div>
                    <div class="list-group-item">
                        <input type="password" formControlName="password" placeholder="Password" class="form-control no-border">
                    </div> -->
                </div>
                
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success btn-block mt-3">
                Log In
                </button>
                <div class="mt-4 text-center"><small style="font-family: sans-serif;font-size:15px">Or Sign Up Using</small></div>
                <div class="text-center mt-2 animated bounceInUp">
                    <a><i class="fab fa-facebook-square fa-3x text-secondary mr-2"></i></a>
                    <a><i class="fab fa-3x text-secondary mr-2 fa-twitter-square"></i></a>
                    <a><i class="fab fa-3x text-secondary fa-google-plus-square"></i></a>
                </div>
                <div>
                <!-- <div class="text-center m-t m-b button"><a>Not yet Received Verification mail?</a></div> -->
                
                </div>
                <div class="line line-dashed"></div>
                <div>
                    <p class="text-center" *ngIf="showSignIn">
                        <small style="font-family: sans-serif;font-size:15px">Have not account Yet?</small>
                    </p>
                    <a class="btn btn-dark btn-block" (click)="showSignUp()" *ngIf="showSignIn">
                    SIGN UP
                    </a>
    
                    <div class="text-center m-t m-b">
                        <div class="">
                            <!-- <input type="image" src="../../images/facebook-icon.png" ng-click="fbLogin()"> -->
                            <!-- <img src="assets\facebook-icon.png"> -->
                        </div>
                    </div>
    
                </div>
            </form>
        </div>
    </div>

    </div>

    
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
   

         
    