<div class="page-wrapper">
        <div class="container-fluid animated bounceInRight">
                    <div class="card card-hover tableshadow mt-3">
                            <div class="card-body tableshadow">
                                <div class="row">
                                    <div class="col-md-12">
                                            <h5 class="text-secondary"> <span style="font-family: fantasy">Publishers</span> 
                                                <button type="button" class="btn btn-info btn-sm float-right" (click)="createPublisher()">Create Publisher</button></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                            <div class="container-fluid">
                                    <div class="table-responsive">
                                    <table class="table text-center table-hover table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr style="font-family: fantasy" class="text-secondary">
                                            <th>S.No</th>
                                            <th>Publisher Name</th>
                                            <th>Publisher Description</th>
                                            <th>Action</th>
                                    </tr>
                                    </thead>
                                            <tbody>      
                                            
                                            <tr *ngFor="let item of publisher;let i = index" style="font-family: sans-serif">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.name}}</td>
                                            <td>{{item.description}}</td>
                                            <td><button style="background: #35D9B8" class="btn text-white btn-sm" (click)="editPublisher(item)"><i class="fas fa-edit"></i></button>&nbsp;
                                                <button style="background: #FF5C78" class="btn text-white btn-sm" (click)="deletePublisher(item._id)"><i class="fas fa-trash"></i></button>
                                            </td>
                                            </tr>
                                         
                                    </tbody>
                                    </table>
                                    </div>
                            </div>
                                    </div>
                        </div>
        </div>
    </div>





